.title {
    font-family: "Camping";
    font-size: 50px;
    text-align: center;
    color: black;
    width: 80%;
    margin: 2% auto;
    direction: rtl;
    text-align: center;
}

.bigWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.step {
    width: 70%;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icons {
    height: 250px;
    height: 250px;
    flex: 1
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 3%;
    justify-content: space-evenly;
}

.stepNum {
    font-family: "Camping";
    font-size: 30px;
    text-align: center;
    color: black;
    width: 100%;
}

.stepHeader {
    font-family: "Camping";
    font-size: 35px;
    text-align: center;
    color: black;
    margin: 2% auto;
}

.section {
    font-family: "AssistantR";
    font-size: 22px;
    text-align: center;
    color: black;
    direction: rtl;
    width: 80%;
    margin: 0 auto;
}

/* Mobile - Extra Small */
@media only screen and (max-width: 350px) {
    .title {
        font-size: 2rem;
        width: 80%;
        margin: 4% auto;
    }

    .bigWrapper {
        width: 100%;
    }

    .step {
        width: 95%;
        margin: 7% auto;
        align-items: center;
    }

    .icons {
        height: 120px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 24px;
        margin: 1% auto;
    }

    .section {
        font-size: 13px;
        width: 100%;
    }
}

/* Mobile - Small */
@media only screen and (min-width: 350px) and (max-width: 450px) {
    .title {
        font-size: 2.2rem;
        width: 80%;
        margin: 4% auto;
    }

    .bigWrapper {
        width: 100%;
    }

    .step {
        width: 95%;
        margin: 5% auto;
        align-items: center;
    }

    .icons {
        height: 140px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 26px;
        margin: 1% auto;
    }

    .section {
        font-size: 13px;
        width: 100%;
    }
}

/* Mobile - Medium */
@media only screen and (min-width: 450px) and (max-width: 550px) {
    .title {
        font-size: 2.8rem;
        width: 85%;
        margin: 4% auto;
    }

    .step {
        width: 95%;
        margin: 5% auto;
        align-items: center;
    }

    .icons {
        height: 140px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 30px;
        margin: 1% auto;
    }

    .section {
        font-size: 15px;
        width: 100%;
    }
}

/* Tablet - Small */
@media only screen and (min-width: 550px) and (max-width: 650px) {
    .title {
        font-size: 3.2rem;
        width: 80%;
        margin: 5% auto;
    }

    .step {
        width: 95%;
        margin: 5% auto;
        align-items: center;
    }

    .icons {
        height: 160px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 34px;
    }

    .section {
        font-size: 16px;
        width: 100%;
    }
}

/* Tablet - Medium */
@media only screen and (min-width: 650px) and (max-width: 850px) {
    .title {
        font-size: 3.5rem;
        width: 85%;
        margin: 5% auto;
    }

    .step {
        width: 85%;
        margin: 5% auto;
        align-items: center;
    }

    .icons {
        height: 160px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 40px;
    }

    .section {
        font-size: 18px;
        width: 100%;
    }
}

/* Tablet - Large */
@media only screen and (min-width: 850px) and (max-width: 1050px) {
    .title {
        font-size: 3.8rem;
        width: 60%;
        margin: 5% auto;
    }

    .step {
        width: 85%;
        margin: 5% auto;
        align-items: center;
    }

    .icons {
        height: 160px;
        flex: 1;
    }

    .text {
        flex: 1.1;
        margin: 3%;
    }

    .stepHeader {
        font-size: 40px;
        color: rgb(0, 0, 0);
    }

    .section {
        font-size: 18px;
        width: 100%;
        margin: 1% auto;
    }
}